*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-image: linear-gradient( to bottom, rgb(105, 22, 64), pink);
    font-size: 24px;
    padding: 20px;
    
}

.navbar a {
    color:rgb(10, 10, 10);
    text-align: center;
    text-decoration: none;
}

.link:hover{
    background-color:  rgb(117, 83, 146);
}

ul li{
    list-style: none;
}